body{
    background-image: url("coding.jpg") ;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    
}

#header{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
}

#main-container {
    color:black;
    height: 100vh;
    width: 900px;
    background-color: gray;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    font-size: 20px;
    padding: 20px;

}
#survey-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 25px;
    border: 5px double rgb(167, 250, 0);
    
}
#title{

}



#name {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    margin: 2px;
    border-color: blue;
}
#email {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    margin: 2px;
    border-color: blue;
}
#number {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    margin: 2px;
    border-color: blue;
}

#commentbox{
    margin: 25px;
}

#improve{
    
}
#dropdown{
    height: 35px;
    border-radius: 20px;
    border-color: red;
    width: 500px;
}

#dropdown2{
    height: 35px;
    border-radius: 20px;
    border-color: purple;
    width: 500px;
}

#improve{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#submit{
    width: 500px;
    height: 50px;
    background-color: yellowgreen;
    border-radius: 20px;
    font-size: 18px;
}