body{
    background-image: url("coding.jpg") ;
    background-position: center;
    
    background-size: cover;
    
    height: 100vh;
    
}

#header{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-shadow: 0 0 0.125em hsl(0, 0%, 100%), 0 0 0.25em currentColor;
    
}

#main-container {
    color:white;
    height: 1500px;
    width: 900px;
    background-color: gray;
    position: relative;
    top: 60%;
    left: 50%;
    transform: translate(-50%,-50%);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    opacity: 0.9;
    font-size: 20px;
    padding: 20px;
    box-shadow: 0 5px 20px yellow;
    
    
}
#survey-form{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 5px;
    height: auto;
    position: relative;
    
    
    
}


#name {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    margin: 2px;
    border-color: blue;
}
#email {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    margin: 2px;
    border-color: blue;
}
#number {
    width: 500px;
    height: 30px;
    border-radius: 25px;
    margin: 2px;
    border-color: blue;
}

#commentbox{
    margin: 25px;
    
}

#comment{
    border:3px solid rgb(136, 182, 45) ;
}

#dropdown{
    height: 35px;
    border-radius: 20px;
    border-color: red;
    width: 500px;
    font-size: 16px;

}


#dropdown2{
    height: 35px;
    border-radius: 20px;
    border-color: purple;
    width: 500px;
    font-size: 16px;
}

#improve{
    display: flex;
    flex-direction: column;
    gap: 5px;
    
}

#submit{
    width: 500px;
    height: 50px;
    background-color: yellowgreen;
    border-radius: 20px;
    font-size: 18px;
}